.subtitle-highlight{
    background-color:antiquewhite ;
    font-weight:bold;
    padding:2px 10px;
    border-radius:10px;
}
.why-choose-card-container{
    display:flex;
    justify-content: space-around;
    margin:30px 0;
    padding:10px;
    background-color:lightgoldenrodyellow ;

}
.why-choose-card{
    background-color: lightpink;
    width:160px;
    padding:10px;
    border-radius:5px ;
    margin:10px;
    

}
.why-choose-card-img{
    height:60px;
    display:block;
    margin:10px auto;
    width:40px;
    background-color: aqua;
    text-align:right;
  }

  .header-section{
    display:flex;

  }
  

  .header-description-container{
    width:50%;
    margin:20px ;
  }
 