.item-card{
    background-color:wheat;
    width:150px;
    height:200px;
    padding:10px;
    margin:10px;
    border-radius:10px;
    box-shadow:-5px 5px 10px 1px lightseagreen;
    border:1px solid blueviolet;
}
.img-card{
    height:70px;
    width:70px;
}
.item-description{
    font-size:10px;
}
.item-order-btn{
    background-color:#fffffe ;
    border:none;
    color:black;
    border-radius:6px;
    padding:1px 10px;
}