body{
    background-color:#55423d ;
}
.page-heading{
    color: #fffffe;
    text-align:center;
    font-size:50px;
    margin:50px auto;

}
.button-container{
    display:flex;
    justify-content: center;
}
.btn{
    background-color: #ffc0ad;
    margin: 0 30px;
    padding:10px 30px;
    width:150px;
    border-radius: 30px;
    cursor:pointer;
}
