body{
    background-color:#faeee7 ;
}

.bg-light{
    background-color:#faeee7 ;
}
.bg-primary{
    background-color: #faeee7;
}
.bg-secondary{
    background-color:#ffc6c7 ;
}
.text-primary{
    color:#faeee7;
}

.text-secondary{
    color:#ffc6c7 ;
}
.text-dark{
    color:#33272a;
}
.text-center{
    text-align:center;
}